/*http://google.github.io/material-design-icons/*/

/* Space out content a bit */
body {
  margin: 0;
  padding: 0;
}

.md-toolbar md-icon.md-default-theme {
  color: white; }
.profile {
  width: 100vw;
  height: 125px;
  position: relative;

}
.profile .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
}
.profile img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}
.subheader .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 100%;
  margin: 16px; }


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
