/*http://google.github.io/material-design-icons/*/

/* Space out content a bit */
html {height:100%;}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway'
  /*makes 1em equal to 10px*/
  font-size:62.5%;
}
.text-center {text-align: center;}
.h1 {font-size: 2em;}
.h3 { font-size: 1.2em;}
.pLeft5{padding-left: 5px;}
.pRight5{padding-right: 5px;}
.md-toolbar md-icon.md-default-theme {
  color: white;
}
/*md-tabs-content-wrapper,
md-tabs:not(.md-no-tab-content):not([md-dynamic-height]) {
  min-height: 300px;
}*/
md-tab-content {
  overflow: auto;
}

.md-sidenav-right {
  height: 300px;
}
md-radio-button {
  display: inline-block;
}
md-input-container {
  padding-bottom: 10px;
}

/* Profile Page */
.profile {
  width: 100vw;
  height: 125px;
  position: relative;
}
.profile .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
}
.profile img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.box{
  height:80px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #fff;
}

#mdAdd {
  position: fixed;
  right: 2%;
  bottom: 24px;
}

/* slick Slider */
.slick-slider{
  margin-bottom: 0;
}
.slick-prev,slick-next {
  color:#000;
}
.slick-prev {
  left:0;
}
.slick-next {
  right:0;
}

/* mfb button fade background */
.my-content{
  opacity: 0.3;
  transition: opacity .9s;
}
.fadeOut{
  opacity: 1;
  transition: opacity .8s;
  transition-delay: .9s;
}

