


  <div ng-controller="profileController" layout="column">
    <div layout="row" layout-align="space-between center">
      <div>
        Completed: 5 {{}}
      </div>
      <div>
        Joined: 12 {{}}
      </div>
    </div>
    <div class="profile">
      <div class="bg" ng-style="profileHero"><img ng-src="http://www.gravatar.com/avatar/1000" alt="Description" /></div>
    </div>

    <div class="slick">
      <slick infinite='true' speed='300' slides-to-show='3' touch-move='true' slides-to-scroll='1'>
        <div class="box"><h3>Complete Atta 1</h3></div>
        <div class="box"><h3>Complete Atta 2</h3></div>
        <div class="box"><h3>Complete Atta 3</h3></div>
        <div class="box"><h3>Complete Atta 4</h3></div>
        <div class="box"><h3>Complete Atta 5</h3></div>
        <div class="box"><h3>Complete Atta 6</h3></div>
      </slick>
    </div>

    <div ng-controller="tabsController"  layout="column">
      <div flex class="md-whiteframe-z1" layout-margin layout="column">
        <md-tabs class="md-accent" style="margin: 0" flex >
          <md-tab>
            <md-tab-label>
              Tab 1
            </md-tab-label>
              <md-tab-body>
                 <div ng-controller="incompleteAttaController" layout="column" layout-fill>
                  <md-list>
                    <md-list-item class="md-2-line" ng-repeat="message in messages">
                      <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                      <div class="md-list-item-text">
                        <h3>{{message.what}}</h3>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
              </md-tab-body>

          </md-tab>
          <md-tab>
          <md-tab-label>Tab 2</md-tab-label>
            <md-tab-body>
              View for Completed ATTAs <br/>
              data.selectedIndex = 1;
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </div>

        <nav mfb-menu position="br" effect="zoomin" active-icon="ion-edit" resting-icon="ion-plus-round" toggling-method="click">
           <a mfb-button label="{{button.label}}" icon="{{button.icon}}" ng-repeat="button in buttons" ui-sref="{{button.state}}"></a>
        </nav>
    </div>

  </div>